<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href = "/css/style.css" >

    </head>


    <body>
        {{>header}}
        {{error_msg}}
        {{>footer}}
    </body>

</html>